



h1,



h3,
h4,
.footer-contacts,
.price {
  display: none;
}


body * > * {
  outline: 1px solid #db0800;
}

body * > * > * {
  outline: 1px solid #79146c;
}

body * > * > * > * {
  outline: 1px solid #0fd611;
}

