html,
body,
img {
  margin: 0;
  padding: 0;
}

/*----------------font-face-----------*/
@font-face {
  font-weight: normal;
  font-family: 'symbols-sedona';
  font-style: normal;

  src: url('../fonts/symbols-sedona.woff') format('woff'),
  url('../fonts/symbols-sedona.woff2') format('woff2');
}

body {
  min-width: 768px;

  font-size: 14px;
  line-height: 21px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  color: #333333;
  text-transform: uppercase;

  background: #ffffff;
}

.container {
  position: relative;

  width: 768px;
  margin: 0 auto;
}

.clearfix {
  content: '';

  display: table;
  clear: both;
}

/*---------------------NAV----------------------------------*/
.main-navigation {
  position: relative;

  width: 94%;
  height: 56px;
  margin: 0 3%;
}

.main-navigation  ul {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  width: 20%;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  vertical-align: top;
  text-align: center;
}

.main-navigation a {
  display: block;
  padding: 15px 0;

  color: #000000;
  text-decoration: none;
}

.main-navigation .current {
  color: #766357;
}

.main-navigation .disabled {
  color: #000000;

  opacity: .3;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #b2b2b2;
}

.main-navigation .disabled:hover,
.main-navigation .disabled:active {
  color: #000000;

  opacity: .3;
}

.main-navigation .nav-logo  a {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 14;

  width: 138px;
  height: 70px;
  margin-left: -69px;
  padding: 0;
}

/*---------------Logo------------------*/

.logo {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  margin: -1px;
  margin-bottom: 59px;
  padding: 1px;

  background: #e9e9e9 url(../img/logo-photo768.png) no-repeat;
  background-size: cover;
}

.header-logo {
  display: block;
  width: 458px;
  margin: auto;
  margin-top: 76px;
  margin-bottom: 80px;
}

.logo::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;

  display: block;
  width: 100%;
  height: 37px;

  background: url(../img/white.png) no-repeat;
  background-size: 100% 37px;
}
/*-----------------Content--------------*/
.middle-text {
  width: 500px;
  min-height: 98px;
  margin: 0 auto;
  margin-bottom: 55px;

  line-height: 26px;
  text-align: center;
}
.middle-text > b {
  display: block;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  padding: 0 20px;

  font-weight: bold;
  font-size: 21px;
  color: #0000000;
}


.middle-text .question {
  font-size: 30px;
  line-height: 30px;
}

.middle-text p {
  margin: 0;
  margin-bottom: -3px;
  padding: 0;

  font-size: 14px;
  color: #333333;
}

.number {
  display: block;
  margin: 12px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.reasons {
  height: 256px;
}


.text-block {
  float: left;
  box-sizing: border-box;
  width: 33%;
  height: inherit;
  min-height: 195px;
  padding: 0 3.3%;
  overflow: hidden;

  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.text-block p {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
}

.text-block h2 {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 0;

  font-weight: bold;
  font-size: 21px;
}

.photo-block {
  float: left;
  box-sizing: border-box;
  width: 67%;
  height: inherit;
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  width: 196px;
  height: 195px;
  margin-bottom: 55px;
  padding: 30px;
  overflow: hidden;

  background: #eeeeee;
}

.column .white {
  background: #ffffff;
}

.column h2 {
  width: 70%;
  margin: 0;
  margin-top: 17.4px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  padding: 0 1px;

  line-height: 25px;
  text-align: center;
  color: #000000;
}

.column p {
  margin: 0;
  margin-top: 20px;

  line-height: 21px;
  text-align: center;
  color: #333333;
}

.column-icon {
  margin-top: 20px;

  background-color: #ffffff;
}

.column-icon:before {
  content: '';

  display: block;
  width: 75px;
  height: 76px;
  margin: 7px auto;
  margin-bottom: 28px;

  background: url(../img/promo-icons.png) no-repeat;
  outline: 1px solid pink;
}


/*----------------------Index-search----------------------------*/

.index-search {
  box-sizing: border-box;
  width: 100%;
  min-height: 595px;
  margin-top: 130px;

  background: url(../img/map.jpg);
  border: 1px solid transparent;
}

.index-search form {
  width: 455px;
  min-height: 100px;
  margin: 0 auto;
  margin-top: -55px;
  padding: 55px;

  background: #ffffff;
}

.index-search p {
  position: relative;

  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 0;
  line-height: 26px;
  vertical-align: top;
  color: #000000;

  border: 0;
}

.index-search label {
  display: inline-block;
  width: 110px;

  font-size: 14px;
}

.index-search input[type='text'] {
  width: 300px;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  padding: 5px 5px;
  padding-right: 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background: #f2f2f2;
  border: 0;
}

.index-search .calc {
  display: inline-block;
  width: 115px;
  height: 30px;
  padding-top: 10px;

  vertical-align: middle;

  background: #f2f2f2;
}

.adults {
  display: inline-block;
  width: 275px;
  margin: 0;
  padding-top: 10px;
}
.children {
  display: inline-block;
  width: 175px;
  margin: 0;
  padding-top: 10px;
}

.children label {
  width: 60px;
}

.index-search .calc input {
  width: 38px;
  height: auto;
  margin: 0;
  padding: 0;

  font-size: 14px;
  text-align: center;
}

.btn {
  display: block;
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: #766357;
  border: 0;
}
.btn-blue {
  color: #ffffff;

  background: #81b3d2;
}
.index-search .search-btn {
  display: block;
  width: 568px;
  margin: -87px auto;
  margin-bottom: 55px;
  padding: 29px 10px;
  padding-bottom: 33px;

  font-size: 21px;
  text-align: center;

  background: #766357;
}
.index-search .submit {
  margin-top: 58px;
  padding: 17px;

  font-size: 21px;
}

/*----------------------Fotter------------------*/
.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 16px 0;
  padding-bottom: 16px;

  font-size: 0;

  background-color: #ffffff;
  opacity: .9;
}

.main-footer section {
  display: inline-block;
  width: 33%;

  vertical-align: middle;
  text-align: center;
}

.footer-heshtag a {
  font-weight: 700;
  font-size: 21px;
  line-height: 22px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.social-btn {
  display: inline-block;
  width: 47px;
  height: 47px;
  margin-left: 5px;

  text-decoration: none;

  background: #81b3d2;
}

.footer-copyright span {
  position: relative;
  top: -30px;
  left: -2px;

  display: inline-block;

  font-size: 14px;
  line-height: 22px;
  color: #000000;
  text-transform: uppercase;
}

.footer-copyright a {
  display: inline-block;
  width: 118px;
  height: 80px;
  margin-right: -15px;

  font-size: 14px;
  line-height: 22px;
  color: #000000;
  text-transform: uppercase;

  background: url(../img/sprites.png) no-repeat;
  outline: 1px solid pink;
}
/*-----------------Icons-------------------*/
button[class^='icon-'] {
  margin: 0;
  padding: 0;

  border: 0;
}
[class^='icon-']::before,
[class*=' icon-']::before {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 21px;
  line-height: 1em;
  font-family: 'symbols-sedona';
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-variant: normal;

  border: 0;

  speak: none;
}

.icon-facebook::before {
  content: '\66';
} /* "f" */
.icon-twitter::before {
  content: '\74';
} /* "t" */
.icon-up-dir::before {
  content: '\25b2';
} /* "▲" */
.icon-down-dir::before {
  content: '\25bc';
} /* "▼" */
.icon-star::before {
  content: '\2605';
} /* "★" */
.icon-check-off::before {
  content: '\2610';
} /* "☐" */
.icon-check-on::before {
  content: '\2611';
} /* "☑" */
.icon-calendar::before {
  content: '\e800';
  position: absolute;
  top: 8px;
  right: 8px;

  color: #a9a9a9;
} /* "" */
.icon-plus::before {
  content: '\e801';
} /* "" */
.icon-minus::before {
  content: '\e802';
} /* "" */
.icon-youtube::before {
  content: '\f39e';
} /* "" */

.icon-plus::before,
.icon-minus::before {
  display: block;
  width: 38px;

  font-weight: 700;
  font-size: 14px;
  color: #a9a9a9;

  background: #f2f2f2;
}
.icon-youtube::before,
.icon-facebook::before,
.icon-twitter::before {
  position: relative;
  top: 15px;

  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
